@import 'assets/styles/constants.scss';


$count: 5;
#header {
    display: flex;
    align-items: center;
    z-index: 100 !important;
    background-color: $color-white;
    border-bottom: 1px solid $color-border;
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, .15);
    height: 122px;
    .menu { // ul
        display: flex;
        flex: 1 1 auto;
        &__logo {
            position: relative;
            padding: 0 1rem;
            svg {
                width: 288px;
                height: 28px;

                @media (max-width: 720px) {
                    width: 238px;
                }

                @media (max-width: 321px) {
                    width: 240px;
                }
            }
            div {
                white-space: nowrap;
            }
        }
        &__item { // li
            position: relative;
            width: 130px;
            padding: 24px 0;
            a {
                text-decoration: none;
                color: #727272;
            }
            .menu-item__container {
                line-height: 26px;
                width: 100%;
                svg {
                    width: 100%;
                }
                div {
                    text-align: center;
                }
            }
            .menu-icon-svg {
                path, circle, rect, line {
                    stroke: #696969 !important;
                }
                rect.calendar-rect-hack, .news-fill-hack, path.media-path-hack {
                    fill: #696969 !important;
                    stroke: none !important;
                }
            }
            &.active {
                background-color: $color-green;
                a {
                    color: $color-white;
                }
                .menu-icon-svg {
                    path, circle, rect, line {
                        stroke: $color-white !important;
                    }
                    rect.calendar-rect-hack, .news-fill-hack, path.media-path-hack {
                        fill: $color-white !important;
                        stroke: none !important;
                    }
                }
            }
        }
        &__join {
            position: relative;
            min-width: 150px;
            max-width: 240px;
            width: 100%;
            height: 100%;
            background-color: #f0f0f0;
            color: $color-green;
            cursor: pointer;
            > div {
                line-height: 26px;
                text-align: center;
                svg {
                    width: 100%;
                }
            }
            .menu__avatar--join {
                padding-top: 24px;
            }
        }
        &__avatar {
            width: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            &--image {
                position: relative;
                border-radius: 50%;
                width: 48px;
                height: 48px;
                border: 1px solid #fbfafe;
                background-size: cover;
                background-position: 50% 50%;
                margin: 0 auto;
                svg {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    width: initial;
                    right: -32px;
                    fill: #5B616D;
                    opacity: .6;
                    &:hover {
                        opacity: .8;
                    }
                }
            }
            &--name {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                padding: 0 5px;
                max-width: 80%;
                display: inline-block;
            }
            &--menu {
                position: absolute;
                width: 100%;
                background-color: $color-white;
                background-clip: padding-box;
                border-radius: 4px;
                box-shadow: 0 0 30px 0 #e7eaf3;
            }
        }
    }
    @media (max-width: 1200px) {
        .menu__item {
            width: 110px;
        }
    }
    @media (max-width: 1000px) {
        min-height: 200px;
        flex-wrap: wrap;
        .menu {
            order: 1;
            align-items: center;
            justify-content: space-around;
            &__join {
                flex: 0 1 auto;
                max-width: none;
                min-width: 0;
                width: 50%;
                height: 100px;
                box-sizing: border-box;
                align-self: stretch;
                padding: 0;
                .menu__avatar--join {
                    padding-top: 13px;
                }
            }
            &__logo {
                flex: 0 1 auto;
                width: 50%;
                padding: 0 3%;
                box-sizing: border-box;
                text-align: center;
            }
            &__item {
                width: 100%;
                padding: 13px 0;
            }
        }
    }
    @media (max-width: 500px) {
        min-height: 160px;
        .menu__join {
            height: 80px;
            width: 100px;
            .menu__avatar {
                &--image {
                    width: 50px;
                    height: 50px;
                    svg {
                        top: 39px;
                        left: 50%;
                        width: initial;
                        transform: translateX(-50%) rotate(90deg);
                    }
                }
                &--join > div, &--name {
                    display: none;
                }
            }
        }
        .menu {
            &__logo {
                flex: 1 0 auto;
            }
            &__item {
                padding: 3px 0;
            }
            .menu-item__container {
                font-size: 11px;
            }
        }
    }
}

@supports (display: grid) {
    #header {
        display: grid;
        grid-template-columns: 320px auto minmax(150px, 240px);
        align-items: center;
        .menu { // ul
            display: grid;
            grid-template-columns: repeat($count, 130px); // repeat(auto-fill, minmax(140px, 1fr));
            &__logo{
                justify-self: center;
            }
        }
        @media (max-width: 1200px) {
            .menu {
                grid-template-columns: repeat($count, 110px)
            }
        }
        @media (max-width: 1000px) {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: repeat(2, 100px);
            .menu__logo {
                width: auto;
                grid-column: 1;
                grid-row: 1;
            }
            .menu__join {
                width: auto;
                grid-column: 2;
                grid-row: 1;
                padding: 0;
                align-self: stretch;
                .menu__avatar--join {
                    padding-top: 13px;
                }
            }
            .menu {
                grid-column: 1 / 3;
                grid-row: 2;
                grid-template-columns: repeat($count, minmax(100px, 1fr));
            }
        }
        @media (max-width: 500px) {
            min-height: 160px;
            grid-template-columns: repeat($count, 1fr);
            grid-template-rows: repeat(2, 80px);
            .menu__logo {
                grid-column: 1 / 5; // $count
                grid-row: 1;
            }
            .menu__join {
                grid-column: $count;
                grid-row: 1;
            }
            .menu {
                grid-column: 1 / 6; // $count + 1
                grid-row: 2;
                grid-template-columns: repeat($count, 1fr);
            }
        }
    }
}
