#header {
  display: flex;
  align-items: center;
  z-index: 100 !important;
  background-color: #ffffff;
  border-bottom: 1px solid #e8e8e8;
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.15);
  height: 122px; }
  #header .menu {
    display: flex;
    flex: 1 1 auto; }
    #header .menu__logo {
      position: relative;
      padding: 0 1rem; }
      #header .menu__logo svg {
        width: 288px;
        height: 28px; }
        @media (max-width: 720px) {
          #header .menu__logo svg {
            width: 238px; } }
        @media (max-width: 321px) {
          #header .menu__logo svg {
            width: 240px; } }
      #header .menu__logo div {
        white-space: nowrap; }
    #header .menu__item {
      position: relative;
      width: 130px;
      padding: 24px 0; }
      #header .menu__item a {
        text-decoration: none;
        color: #727272; }
      #header .menu__item .menu-item__container {
        line-height: 26px;
        width: 100%; }
        #header .menu__item .menu-item__container svg {
          width: 100%; }
        #header .menu__item .menu-item__container div {
          text-align: center; }
      #header .menu__item .menu-icon-svg path, #header .menu__item .menu-icon-svg circle, #header .menu__item .menu-icon-svg rect, #header .menu__item .menu-icon-svg line {
        stroke: #696969 !important; }
      #header .menu__item .menu-icon-svg rect.calendar-rect-hack, #header .menu__item .menu-icon-svg .news-fill-hack, #header .menu__item .menu-icon-svg path.media-path-hack {
        fill: #696969 !important;
        stroke: none !important; }
      #header .menu__item.active {
        background-color: #00a094; }
        #header .menu__item.active a {
          color: #ffffff; }
        #header .menu__item.active .menu-icon-svg path, #header .menu__item.active .menu-icon-svg circle, #header .menu__item.active .menu-icon-svg rect, #header .menu__item.active .menu-icon-svg line {
          stroke: #ffffff !important; }
        #header .menu__item.active .menu-icon-svg rect.calendar-rect-hack, #header .menu__item.active .menu-icon-svg .news-fill-hack, #header .menu__item.active .menu-icon-svg path.media-path-hack {
          fill: #ffffff !important;
          stroke: none !important; }
    #header .menu__join {
      position: relative;
      min-width: 150px;
      max-width: 240px;
      width: 100%;
      height: 100%;
      background-color: #f0f0f0;
      color: #00a094;
      cursor: pointer; }
      #header .menu__join > div {
        line-height: 26px;
        text-align: center; }
        #header .menu__join > div svg {
          width: 100%; }
      #header .menu__join .menu__avatar--join {
        padding-top: 24px; }
    #header .menu__avatar {
      width: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
      #header .menu__avatar--image {
        position: relative;
        border-radius: 50%;
        width: 48px;
        height: 48px;
        border: 1px solid #fbfafe;
        background-size: cover;
        background-position: 50% 50%;
        margin: 0 auto; }
        #header .menu__avatar--image svg {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          width: initial;
          right: -32px;
          fill: #5B616D;
          opacity: .6; }
          #header .menu__avatar--image svg:hover {
            opacity: .8; }
      #header .menu__avatar--name {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 0 5px;
        max-width: 80%;
        display: inline-block; }
      #header .menu__avatar--menu {
        position: absolute;
        width: 100%;
        background-color: #ffffff;
        background-clip: padding-box;
        border-radius: 4px;
        box-shadow: 0 0 30px 0 #e7eaf3; }
  @media (max-width: 1200px) {
    #header .menu__item {
      width: 110px; } }
  @media (max-width: 1000px) {
    #header {
      min-height: 200px;
      flex-wrap: wrap; }
      #header .menu {
        order: 1;
        align-items: center;
        justify-content: space-around; }
        #header .menu__join {
          flex: 0 1 auto;
          max-width: none;
          min-width: 0;
          width: 50%;
          height: 100px;
          box-sizing: border-box;
          align-self: stretch;
          padding: 0; }
          #header .menu__join .menu__avatar--join {
            padding-top: 13px; }
        #header .menu__logo {
          flex: 0 1 auto;
          width: 50%;
          padding: 0 3%;
          box-sizing: border-box;
          text-align: center; }
        #header .menu__item {
          width: 100%;
          padding: 13px 0; } }
  @media (max-width: 500px) {
    #header {
      min-height: 160px; }
      #header .menu__join {
        height: 80px;
        width: 100px; }
        #header .menu__join .menu__avatar--image {
          width: 50px;
          height: 50px; }
          #header .menu__join .menu__avatar--image svg {
            top: 39px;
            left: 50%;
            width: initial;
            transform: translateX(-50%) rotate(90deg); }
        #header .menu__join .menu__avatar--join > div, #header .menu__join .menu__avatar--name {
          display: none; }
      #header .menu__logo {
        flex: 1 0 auto; }
      #header .menu__item {
        padding: 3px 0; }
      #header .menu .menu-item__container {
        font-size: 11px; } }

@supports (display: grid) {
  #header {
    display: grid;
    grid-template-columns: 320px auto minmax(150px, 240px);
    align-items: center; }
    #header .menu {
      display: grid;
      grid-template-columns: repeat(5, 130px); }
      #header .menu__logo {
        justify-self: center; }
    @media (max-width: 1200px) {
      #header .menu {
        grid-template-columns: repeat(5, 110px); } }
    @media (max-width: 1000px) {
      #header {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(2, 100px); }
        #header .menu__logo {
          width: auto;
          grid-column: 1;
          grid-row: 1; }
        #header .menu__join {
          width: auto;
          grid-column: 2;
          grid-row: 1;
          padding: 0;
          align-self: stretch; }
          #header .menu__join .menu__avatar--join {
            padding-top: 13px; }
        #header .menu {
          grid-column: 1 / 3;
          grid-row: 2;
          grid-template-columns: repeat(5, minmax(100px, 1fr)); } }
    @media (max-width: 500px) {
      #header {
        min-height: 160px;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(2, 80px); }
        #header .menu__logo {
          grid-column: 1 / 5;
          grid-row: 1; }
        #header .menu__join {
          grid-column: 5;
          grid-row: 1; }
        #header .menu {
          grid-column: 1 / 6;
          grid-row: 2;
          grid-template-columns: repeat(5, 1fr); } } }
