@import 'assets/styles/constants.scss';
@import 'assets/styles/roboto.font.scss';


// Agora +
// Circe +
// Open Sans +google
// PT Sans +google
// Roboto +google
// Roboto Condensed +google
// Roboto Slab +google

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&subset=cyrillic,cyrillic-ext');
@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i&subset=cyrillic,cyrillic-ext');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&amp;subset=cyrillic,cyrillic-ext');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i&subset=cyrillic,cyrillic-ext');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700&subset=cyrillic,cyrillic-ext');


body {
    font-family: 'Roboto', 'AgoraSansProRegular', 'Open Sans', sans-serif;
    font-size: 14px;
    color: $color-font;
    margin: 0;
    padding: 0;
    background-color: $color-background;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: none;
}

html, body {
    position: relative;
}

a {
    color: $color-green;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    &:hover {
        color: $color-green--darken;
    }
}

.agora {
    font-family: 'AgoraSansProRegular', 'Roboto', 'Open Sans', sans-serif;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

html, body, #root {
    width: 100%;
    height: 100%;
}

#root > main {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    #page {
        flex: 1 0 auto;
    }
    > footer {
        flex-shrink: 0;
    }
}