@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&subset=cyrillic,cyrillic-ext");
@import url("https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i&subset=cyrillic,cyrillic-ext");
@import url("https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&amp;subset=cyrillic,cyrillic-ext");
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i&subset=cyrillic,cyrillic-ext");
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700&subset=cyrillic,cyrillic-ext");
@font-face {
  font-family: "Roboto Black";
  font-style: normal;
  font-weight: normal;
  src: url("../../assets/fonts/Roboto/Roboto-Black.ttf") format("truetype"); }

@font-face {
  font-family: "Roboto BlackItalic";
  font-style: normal;
  font-weight: normal;
  src: url("../../assets/fonts/Roboto/Roboto-BlackItalic.ttf") format("truetype"); }

@font-face {
  font-family: "Roboto Bold";
  font-style: normal;
  font-weight: normal;
  src: url("../../assets/fonts/Roboto/Roboto-Bold.ttf") format("truetype"); }

@font-face {
  font-family: "Roboto BoldItalic";
  font-style: normal;
  font-weight: normal;
  src: url("../../assets/fonts/Roboto/Roboto-BoldItalic.ttf") format("truetype"); }

@font-face {
  font-family: "Roboto Italic";
  font-style: normal;
  font-weight: normal;
  src: url("../../assets/fonts/Roboto/Roboto-Italic.ttf") format("truetype"); }

@font-face {
  font-family: "Roboto Light";
  font-style: normal;
  font-weight: normal;
  src: url("../../assets/fonts/Roboto/Roboto-Light.ttf") format("truetype"); }

@font-face {
  font-family: "Roboto LightItalic";
  font-style: normal;
  font-weight: normal;
  src: url("../../assets/fonts/Roboto/Roboto-LightItalic.ttf") format("truetype"); }

@font-face {
  font-family: "Roboto Medium";
  font-style: normal;
  font-weight: normal;
  src: url("../../assets/fonts/Roboto/Roboto-Medium.ttf") format("truetype"); }

@font-face {
  font-family: "Roboto MediumItalic";
  font-style: normal;
  font-weight: normal;
  src: url("../../assets/fonts/Roboto/Roboto-MediumItalic.ttf") format("truetype"); }

@font-face {
  font-family: "Roboto Regular";
  font-style: normal;
  font-weight: normal;
  src: url("../../assets/fonts/Roboto/Roboto-Regular.ttf") format("truetype"); }

@font-face {
  font-family: "Roboto Thin";
  font-style: normal;
  font-weight: normal;
  src: url("../../assets/fonts/Roboto/Roboto-Thin.ttf") format("truetype"); }

@font-face {
  font-family: "Roboto ThinItalic";
  font-style: normal;
  font-weight: normal;
  src: url("../../assets/fonts/Roboto/Roboto-ThinItalic.ttf") format("truetype"); }

body {
  font-family: 'Roboto', 'AgoraSansProRegular', 'Open Sans', sans-serif;
  font-size: 14px;
  color: #343434;
  margin: 0;
  padding: 0;
  background-color: #fafbfe;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none; }

html, body {
  position: relative; }

a {
  color: #00a094;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent; }
  a:hover {
    color: #006d65; }

.agora {
  font-family: 'AgoraSansProRegular', 'Roboto', 'Open Sans', sans-serif; }

ul {
  list-style: none;
  padding: 0;
  margin: 0; }

html, body, #root {
  width: 100%;
  height: 100%; }

#root > main {
  display: flex;
  min-height: 100vh;
  flex-direction: column; }
  #root > main #page {
    flex: 1 0 auto; }
  #root > main > footer {
    flex-shrink: 0; }
