.button {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  text-align: center;
  text-decoration: none;
  border: 1px solid transparent;
  border-radius: 1px;
  cursor: pointer;
  transition: background .1s ease-in-out;
  font-size: inherit;
  line-height: 30px;
  padding: 8px 23px;
  text-transform: uppercase; }
  .button.silver {
    color: #6b6e7c;
    background-color: #eef4fc;
    border: 1px solid transparent; }
    .button.silver svg {
      fill: #6b6e7c; }
      .button.silver svg .need-stroke {
        stroke: #6b6e7c !important; }
    .button.silver:not(.disabled):focus, .button.silver:not(.disabled):hover {
      color: #6b6e7c;
      background-color: #d8e6f8; }
    .button.silver:not(.disabled):focus {
      border-color: rgba(0, 0, 0, 0);
      outline: none; }
    .button.silver:not(.disabled):hover {
      border-color: rgba(0, 0, 0, 0); }
    .button.silver.disabled {
      cursor: default;
      opacity: .5;
      pointer-events: none; }
  .button.blue {
    color: #fff;
    background-color: #5caedc;
    border: 1px solid transparent; }
    .button.blue svg {
      fill: #fff; }
      .button.blue svg .need-stroke {
        stroke: #fff !important; }
    .button.blue:not(.disabled):focus, .button.blue:not(.disabled):hover {
      color: #fff;
      background-color: #47a4d7; }
    .button.blue:not(.disabled):focus {
      border-color: rgba(0, 0, 0, 0);
      outline: none; }
    .button.blue:not(.disabled):hover {
      border-color: rgba(0, 0, 0, 0); }
    .button.blue.disabled {
      cursor: default;
      opacity: .5;
      pointer-events: none; }
  .button.green {
    color: #fff;
    background-color: #00a094;
    border: 1px solid transparent; }
    .button.green svg {
      fill: #fff; }
      .button.green svg .need-stroke {
        stroke: #fff !important; }
    .button.green:not(.disabled):focus, .button.green:not(.disabled):hover {
      color: #fff;
      background-color: #00877c; }
    .button.green:not(.disabled):focus {
      border-color: rgba(0, 0, 0, 0);
      outline: none; }
    .button.green:not(.disabled):hover {
      border-color: rgba(0, 0, 0, 0); }
    .button.green.disabled {
      cursor: default;
      opacity: .5;
      pointer-events: none; }
  .button.red {
    color: #fff;
    background-color: #eb5757;
    border: 1px solid transparent; }
    .button.red svg {
      fill: #fff; }
      .button.red svg .need-stroke {
        stroke: #fff !important; }
    .button.red:not(.disabled):focus, .button.red:not(.disabled):hover {
      color: #fff;
      background-color: #e84040; }
    .button.red:not(.disabled):focus {
      border-color: rgba(0, 0, 0, 0);
      outline: none; }
    .button.red:not(.disabled):hover {
      border-color: rgba(0, 0, 0, 0); }
    .button.red.disabled {
      cursor: default;
      opacity: .5;
      pointer-events: none; }
  .button.orange {
    color: #fff;
    background-color: #ffa727;
    border: 1px solid transparent; }
    .button.orange svg {
      fill: #fff; }
      .button.orange svg .need-stroke {
        stroke: #fff !important; }
    .button.orange:not(.disabled):focus, .button.orange:not(.disabled):hover {
      color: #fff;
      background-color: #ff9d0e; }
    .button.orange:not(.disabled):focus {
      border-color: rgba(0, 0, 0, 0);
      outline: none; }
    .button.orange:not(.disabled):hover {
      border-color: rgba(0, 0, 0, 0); }
    .button.orange.disabled {
      cursor: default;
      opacity: .5;
      pointer-events: none; }
  .button.gray {
    color: #fff;
    background-color: #5d616f;
    border: 1px solid transparent; }
    .button.gray svg {
      fill: #fff; }
      .button.gray svg .need-stroke {
        stroke: #fff !important; }
    .button.gray:not(.disabled):focus, .button.gray:not(.disabled):hover {
      color: #fff;
      background-color: #515561; }
    .button.gray:not(.disabled):focus {
      border-color: rgba(0, 0, 0, 0);
      outline: none; }
    .button.gray:not(.disabled):hover {
      border-color: rgba(0, 0, 0, 0); }
    .button.gray.disabled {
      cursor: default;
      opacity: .5;
      pointer-events: none; }
  .button.null {
    color: #5d616f;
    background-color: #fff;
    border: 1px solid #fff; }
    .button.null svg {
      fill: #5d616f; }
      .button.null svg .need-stroke {
        stroke: #5d616f !important; }
    .button.null:not(.disabled):focus, .button.null:not(.disabled):hover {
      color: #5d616f;
      background-color: #f2f2f2; }
    .button.null:not(.disabled):focus {
      border-color: #d9d9d9;
      outline: none; }
    .button.null:not(.disabled):hover {
      border-color: #ededed; }
    .button.null.disabled {
      cursor: default;
      opacity: .5;
      pointer-events: none; }
  .button.green_ {
    color: #00a094;
    background-color: #fff;
    border: 1px solid #00a094; }
    .button.green_ svg {
      fill: #00a094; }
      .button.green_ svg .need-stroke {
        stroke: #00a094 !important; }
    .button.green_:not(.disabled):focus, .button.green_:not(.disabled):hover {
      color: #00a094;
      background-color: #f2f2f2; }
    .button.green_:not(.disabled):focus {
      border-color: #00544d;
      outline: none; }
    .button.green_:not(.disabled):hover {
      border-color: #007c73; }
    .button.green_.disabled {
      cursor: default;
      opacity: .5;
      pointer-events: none; }
  .button.green_light {
    color: #6b6e7c;
    background-color: #b7e2e3;
    border: 1px solid transparent; }
    .button.green_light svg {
      fill: #6b6e7c; }
      .button.green_light svg .need-stroke {
        stroke: #6b6e7c !important; }
    .button.green_light:not(.disabled):focus, .button.green_light:not(.disabled):hover {
      color: #6b6e7c;
      background-color: #a5dbdc; }
    .button.green_light:not(.disabled):focus {
      border-color: rgba(0, 0, 0, 0);
      outline: none; }
    .button.green_light:not(.disabled):hover {
      border-color: rgba(0, 0, 0, 0); }
    .button.green_light.disabled {
      cursor: default;
      opacity: .5;
      pointer-events: none; }
  .button.transparent {
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.2);
    border: 1px solid #ffffff; }
    .button.transparent svg {
      fill: #ffffff; }
      .button.transparent svg .need-stroke {
        stroke: #ffffff !important; }
    .button.transparent:not(.disabled):focus, .button.transparent:not(.disabled):hover {
      color: #ffffff;
      background-color: rgba(0, 0, 0, 0.2); }
    .button.transparent:not(.disabled):focus {
      border-color: #d9d9d9;
      outline: none; }
    .button.transparent:not(.disabled):hover {
      border-color: #ededed; }
    .button.transparent.disabled {
      cursor: default;
      opacity: .5;
      pointer-events: none; }
    .button.transparent:not(.disabled):focus, .button.transparent:not(.disabled):hover {
      background-color: rgba(0, 0, 0, 0.5); }
    .button.transparent:not(.disabled):focus {
      border-color: rgba(0, 0, 0, 0.6); }
