@import 'assets/styles/constants.scss';

@mixin button-variant($color, $background, $borderColor) {
    color: $color;
    background-color: $background;
    border: 1px solid $borderColor;
    svg {
        fill: $color;
        .need-stroke {
            stroke: $color !important;
        }
    }
    &:not(.disabled) {
        &:focus, &:hover {
            color: $color;
            background-color: darken($background, 5%);
        }
        &:focus {
            border-color: darken($borderColor, 15%);
            outline: none;
        }
        &:hover {
            border-color: darken($borderColor, 7%);
        }
    }
    &.disabled {
        cursor: default;
        opacity: .5;
        pointer-events: none;
    }
}

.button {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
    border: 1px solid transparent;
    border-radius: 1px;
    cursor: pointer;
    transition: background .1s ease-in-out;
    font-size: inherit;
    line-height: 30px;
    padding: 8px 23px;
    text-transform: uppercase;

    &.silver {
        @include button-variant(#6b6e7c, $color-silver, transparent);
    }
    &.blue {
        @include button-variant(#fff, $color-blue, transparent);
    }
    &.green {
        @include button-variant(#fff, $color-green, transparent);
    }
    &.red {
        @include button-variant(#fff, $color-red, transparent);
    }
    &.orange {
        @include button-variant(#fff, $color-orange, transparent);
    }
    &.gray {
        @include button-variant(#fff, $color-gray, transparent);
    }
    &.null {
        @include button-variant($color-gray, #fff, #fff);
    }
    &.green_ {
        @include button-variant($color-green, #fff, $color-green);
    }
    &.green_light {
        @include button-variant(#6b6e7c, $color-green--light, transparent);
    }
    &.transparent {
        @include button-variant($color-white, rgba(0, 0, 0, .2), $color-white);
        &:not(.disabled) {
            &:focus, &:hover {
                background-color: rgba(0, 0, 0, .5)
            }
            &:focus {
                border-color: rgba(0, 0, 0, .6);
            }
        }
    }
}