//@import '~assets/styles/constants';
//
//.text-area {
//  position: relative;
//
//  &.disabled {
//    &:before {
//      content: '';
//      position: absolute;
//      top: 0;
//      right: 0;
//      bottom: 0;
//      left: 0;
//      z-index: 1;
//      display: inline-block;
//      background-color: #fff;
//      opacity: .6;
//    }
//  }
//  &.readonly {
//    &:before {
//      content: '';
//      position: absolute;
//      top: 0;
//      right: 0;
//      bottom: 0;
//      left: 0;
//      z-index: 1;
//      display: inline-block;
//      background-color: #fff;
//      opacity: .3;
//    }
//    textarea {
//      outline: none;
//    }
//  }
//  textarea {
//    box-sizing: border-box;
//    width: 100%;
//    height: 100%;
//    padding: 8px 8px 0 16px;
//    font-size: 14px;
//    letter-spacing: 0.4px;
//    border: 1px solid #e7eaf3;
//    border-radius: 4px;
//    &:focus {
//      border-color: lighten($color-blue, 10);
//      outline: none;
//      box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
//    }
//    &::placeholder {
//      color: lighten($color-gray, 40)
//    }
//  }
//}
