body.modal-open {
  overflow: hidden; }

.modal-base {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  text-align: center; }
  .modal-base.open {
    z-index: 1050;
    display: block;
    -webkit-overflow-scrolling: touch; }
  .modal-base__backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background-color: #000;
    opacity: .5;
    transition: opacity .15s linear; }
  .modal-base__container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5); }
    @media (max-width: 720px) {
      .modal-base__container {
        max-height: 85vh; } }
  .modal-base__close {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    width: 30px;
    height: 30px;
    background: transparent;
    transform: scale(0.6);
    cursor: pointer;
    padding: 6px;
    opacity: .2; }
    .modal-base__close:hover {
      opacity: .4; }
    .modal-base__close:before, .modal-base__close:after {
      content: '';
      position: absolute;
      top: 20px;
      right: 4px;
      width: 30px;
      height: 2px;
      background: #000;
      box-shadow: 0 0 5px 0 rgba(63, 81, 181, 0.2); }
    .modal-base__close:before {
      transform: rotate(-45deg); }
    .modal-base__close:after {
      transform: rotate(45deg); }
  .modal-base__row {
    padding: 0 16px 16px; }
  .modal-base__header {
    margin-bottom: 16px;
    padding: 10px 35px;
    font-size: 22px;
    text-align: center;
    color: #5d616f; }
