.checkbox {
  position: relative;
  cursor: pointer;
  padding: 0;
  margin: 0; }
  .checkbox__square {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    padding: 0;
    background-color: #ffffff;
    border: 2px solid #5d616f;
    border-radius: 2px; }
    .checkbox__square .sa-line {
      position: absolute;
      display: none;
      height: 3px;
      background-color: #eb5757;
      border-radius: 1px; }
      .checkbox__square .sa-line.sa-tip {
        top: 9px;
        left: 1px;
        width: 6px;
        transform: rotate(45deg); }
      .checkbox__square .sa-line.sa-long {
        top: 7px;
        right: 1px;
        width: 12px;
        transform: rotate(-45deg); }
    .checkbox__square.checked .sa-line {
      display: block; }
    .checkbox__square.has-label {
      position: absolute; }
  .checkbox:hover .checkbox__square {
    background-color: #e0e0e0; }
  .checkbox__label {
    display: inline-block;
    padding-left: 36px;
    line-height: 20px;
    user-select: none; }
  .checkbox__readonly {
    opacity: 0.4 !important; }
