@import 'assets/styles/constants.scss';
@import 'assets/styles/mixins.scss';

@mixin icon($sz, $borderColor, $lineColor) {
    position: relative;
    display: inline-block;
    box-sizing: content-box;
    width: $sz * 70 / 80;
    height: $sz * 70 / 80;
    padding: 0;
    border: 1px solid $borderColor;

    .sa-line {
        position: absolute;
        height: $sz * 8 / 80;
        background-color: $lineColor;
        border-radius: $sz * 2 / 80;
        &.sa-tip {
            top: $sz * 46 / 80;
            left: $sz * 9 / 80;
            width: $sz * 25 / 80;
            transform: rotate(45deg);
        }
        &.sa-long {
            top: $sz * 38 / 80;
            right: $sz * 3 / 80;
            width: $sz * 47 / 80;
            transform: rotate(-45deg);
        }
    }
}

$width: 20px;
.checkbox {
    position: relative;
    cursor: pointer;
    padding: 0;
    margin: 0;
    &__square {
        position: relative;
        display: inline-block;
        //box-sizing: content-box;
        box-sizing: border-box;
        width: $width;
        height: $width;
        padding: 0;
        background-color: $color-white;
        border: 2px solid $color-gray;
        border-radius: 2px;
        //transform: scale(.9);
        .sa-line {
            position: absolute;
            display: none;
            height: 3px;
            background-color: $color-red;
            border-radius: 1px;
            &.sa-tip {
                top: 9px;
                left: 1px;
                width: 6px;
                transform: rotate(45deg);
            }
            &.sa-long {
                top: 7px;
                right: 1px;
                width: 12px;
                transform: rotate(-45deg);
            }
        }
        &.checked {
            //border-color: shade($c__checkbox__row__border);
            .sa-line {
                display: block;
            }
        }
        &.has-label {
            position: absolute;
        }
    }

    &:hover &__square {
        background-color: $color-gray--lighten;
    }

    &__label {
        display: inline-block;
        padding-left: $width + 16px;
        line-height: $width;
        user-select: none;
    }
    &__readonly {
        opacity: 0.4 !important;
    }
}

