.input {
  position: relative; }
  .input.disabled:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    background-color: #fff;
    opacity: .6; }
  .input.disabled input {
    user-select: none; }
  .input.readonly > input {
    outline: none; }
    .input.readonly > input:focus {
      border-color: #e0e0e0;
      box-shadow: none; }
  .input input, .input textarea {
    box-sizing: border-box;
    width: 100%;
    padding: 12px 25px 12px 13px;
    font-size: 14px;
    color: #5d616f;
    letter-spacing: 0.4px;
    background-color: #fff;
    border: 1px solid #e0e0e0; }
    .input input:focus, .input textarea:focus {
      border-color: #00d3c3;
      outline: none; }
    .input input::placeholder, .input textarea::placeholder {
      color: #c8cad1; }
  .input.with-title > input {
    padding: 19px 25px 5px 13px; }
  .input__title {
    position: absolute;
    top: 5px;
    left: 15px;
    display: none;
    font-weight: 300;
    font-size: 10px;
    color: #5d616f;
    letter-spacing: 0.6px; }
  .input.with-title > .input__title {
    display: block; }
  .input__cleaner {
    position: absolute;
    top: 50%;
    right: 0;
    padding: 16px;
    display: none;
    width: 10px;
    height: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    opacity: .5; }
    .input__cleaner svg {
      position: absolute; }
    .input__cleaner--multiline {
      top: 15px; }
  .input:hover.with-cleaner > .input__cleaner {
    display: block; }
  .input.failure {
    color: #f08585; }
    .input.failure .input__title {
      color: #eb5757; }
    .input.failure input, .input.failure textarea {
      border-color: #f08585; }
      .input.failure input:focus, .input.failure textarea:focus {
        border-color: #eb5757; }
      .input.failure input::placeholder, .input.failure textarea::placeholder {
        color: #f08585; }
