@import 'assets/styles/constants.scss';

.input {
    position: relative;

    &.disabled {
        &:before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 1;
            background-color: #fff;
            opacity: .6;
        }
        input {
            user-select: none;
        }
    }
    &.readonly > input {
        outline: none;
        &:focus {
            border-color: $color-gray--lighten;
            box-shadow: none;
        }
    }
    input, textarea {
        box-sizing: border-box;
        width: 100%;
        padding: 12px 25px 12px 13px;
        font-size: 14px;
        color: $color-gray;
        letter-spacing: 0.4px;
        background-color: #fff;
        border: 1px solid $color-gray--lighten;

        &:focus {
            border-color: lighten($color-green, 10);
            outline: none;
        }
        &::placeholder {
            color: lighten($color-gray, 40)
        }
    }
    &.with-title > input {
        padding: 19px 25px 5px 13px;
    }
    &__title {
        position: absolute;
        top: 5px;
        left: 15px;
        display: none;
        font-weight: 300;
        font-size: 10px;
        color: $color-gray;
        letter-spacing: 0.6px;
    }
    &.with-title > .input__title {
        display: block;
    }
    &__cleaner {
        position: absolute;
        top: 50%;
        right: 0;
        padding: 16px;
        display: none;
        width: 10px;
        height: 10px;
        transform: translateY(-50%);
        cursor: pointer;
        opacity: .5;
        svg {
            position: absolute;
        }
        &--multiline {
            top: 15px;
        }
    }
    &:hover.with-cleaner > .input__cleaner {
        display: block;
    }

    &.failure {
        color: lighten($color-red, 10);
        .input__title {
            color: $color-red;
        }

        input, textarea {
            border-color: lighten($color-red, 10);
            &:focus {
                border-color: $color-red;
            }
            &::placeholder {
                color: lighten($color-red, 10);
            }
        }
    }
}
