.date-range {
  display: flex; }
  .date-range__item {
    position: relative;
    float: left;
    box-sizing: border-box;
    width: 50%;
    margin: 0 5px; }
    .date-range__item:first-child {
      margin-left: 0; }
      .date-range__item:first-child .input-base__cleaner {
        right: 37px; }
    .date-range__item:last-child {
      margin-right: 0; }
      .date-range__item:last-child .input-base__cleaner {
        right: 42px; }
    .date-range__item .input-base__cleaner {
      z-index: 1; }
    .date-range__item .input-base.disabled:before {
      opacity: 0; }
  .date-range__input.disabled {
    border: 1px solid #e0e0e0; }
    .date-range__input.disabled input {
      color: black; }
  .date-range.invalid .date-range__input {
    border: 1px solid #eb5757; }
  .date-range__icon {
    position: absolute !important;
    top: 50%;
    right: 6px;
    box-sizing: border-box;
    height: 24px;
    transform: translateY(-50%); }
    .date-range__icon .datepicker__button__icon svg {
      fill: #5d616f; }
    .date-range__icon.datepicker {
      z-index: 1; }
    .date-range__icon--disabled {
      cursor: default;
      opacity: .4; }
      .date-range__icon--disabled:hover {
        opacity: .4; }
      .date-range__icon--disabled .datepicker__button__icon:hover {
        cursor: default; }
