@import 'assets/styles/constants.scss';
@import 'assets/styles/mixins.scss';

$color-failure: #ff596d; // #a94442;

.date-range {
    display: flex;
    &__item {
        position: relative;
        float: left;
        box-sizing: border-box;
        width: 50%;
        margin: 0 5px;
        &:first-child {
            margin-left: 0;
            .input-base__cleaner {
                right: 37px;
            }
        }
        &:last-child {
            margin-right: 0;
            .input-base__cleaner {
                right: 42px;
            }
        }
        .input-base__cleaner {
            z-index: 1;
        }
        .input-base.disabled:before {
            opacity: 0;
        }
    }
    &__input.disabled {
        border: 1px solid $color-gray--lighten;
        input {
            color: black;
        }
    }
    &.invalid &__input {
        border: 1px solid $color-red;
    }

    &__icon {
        position: absolute !important;
        top: 50%;
        right: 6px;
        box-sizing: border-box;
        height: 24px;
        transform: translateY(-50%);
        .datepicker__button__icon {
            svg {
                fill: $color-gray;
            }
        }
        &.datepicker {
            z-index: 1;
        }
        &--disabled {
            cursor: default;
            opacity: .4;
            &:hover {
                opacity: .4;
            }
            .datepicker__button__icon {
                &:hover {
                    cursor: default;
                }
            }
        }
    }
}
