@import 'assets/styles/constants.scss';
@import 'assets/styles/mixins.scss';

.datepicker {
    position: absolute;

    &__button {
        position: relative;
        cursor: pointer;
        //@include clearfix();

        &__icon {
            float: left;
            width: 24px;
            height: 24px;
            fill: $color-green;

            &:hover {
                fill: lighten($color-green, 10);
            }
        }

        &__label {
            float: left;
            padding-top: 3px;
            padding-left: 4px;
        }
    }

    &__paranja {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 3;
        opacity: 0.1;
    }

    &_open {
        .rdt {
            z-index: 4;
            display: block;
            opacity: 1;
        }
    }
    &_open &__triangle {
        z-index: 4;
        opacity: 1;
    }
    &__triangle {
        position: absolute;
        top: 27px;
        left: -7px;
        z-index: -1;
        width: 45px;
        height: 22px;
        overflow: hidden;
        box-shadow: 0 16px 10px -17px rgba(0, 0, 0, 0.5);
        //transition: .2s;
        opacity: 0;
        &:after {
            content: "";
            position: absolute;
            top: 13px;
            left: 8px;
            width: 20px;
            height: 20px;
            background: $color-background;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
        }
    }
}

.rdt {
    position: absolute;
    top: 49px;
    left: -25px;
    z-index: -1;
    display: none;
    box-sizing: border-box;
    width: 240px;
    padding: 20px 15px;
    background-color: $color-background;
    border-radius: 4px;
    box-shadow: $color-background;
    opacity: 0;
    transition: .2s;
    table {
        width: 100%;
        border-collapse: collapse;
    }
    .dow, .rdtDay {
        box-sizing: content-box;
        width: 22px;
        padding: 0 4px;
        font-weight: 100;
        font-size: 10px;
        line-height: 22px;
        text-align: center;
        text-transform: uppercase;
    }

    &Disabled {
        color: $color-gray !important;
        cursor: default !important;
    }

    .rdtDay.rdtToday {
        color: $color-green;
        &.rdtActive {
            color: $color-white;
        }
    }

    .dow {
        padding-bottom: 14px;
        font-weight: 300;
        line-height: 14px;
        color: $color-gray;
        cursor: default;
    }

    .rdtSwitch, .rdtPrev, .rdtNext {
        padding-bottom: 20px !important;
        color: $color-gray;
        cursor: pointer;
    }

    .rdtDay.rdtOld, .rdtDay.rdtNew {
        font-weight: normal;
        color: $color-gray;
    }

    .rdtDay, .rdtMonth, .rdtYear {
        color: $color-gray;
        cursor: pointer;
    }
    .rdtActive {
        position: relative;
        font-weight: 400;
        color: $color-white;
        border-radius: 4px;
    }
    .rdtDay {
        font-weight: 600;
        &.rdtActive {
            &::after {
                content: "";
                position: absolute;
                left: 4px;
                z-index: -1;
                width: 22px;
                height: 22px;
                background-color: $color-green;
                border-radius: 50%;
            }
        }
    }

    .rdtMonth {
        width: calc(210px / 4);
        padding: 0 0 8px;
        font-size: 10px;
        line-height: 20px;
        letter-spacing: 0.3px;
        text-align: center;
        &.rdtActive {
            &::after {
                content: '';
                z-index: -1;
                display: block;
                height: 20px;
                margin: -20px 0 0;
                background-color: $color-green;
                border-radius: 4px;
            }
        }
    }
    .rdtYear {
        padding: 0 0 8px;
        font-size: 10px;
        line-height: 20px;
        text-align: center;
        letter-spacing: 0.3px;
        &.rdtActive {
            &::after {
                content: '';
                z-index: -1;
                display: block;
                height: 20px;
                margin: -20px 7px 0;
                background-color: $color-green;
                border-radius: 4px;
            }
        }
    }
    .rdtSwitch {
        font-weight: bold;
        font-size: 13px;
        letter-spacing: 0.4px;
        text-align: center;
        color: $color-gray;
        text-transform: capitalize;
    }

    .rdtNext, .rdtPrev {
        button {
            font-size: 28px;
            line-height: 12px;
            color: $color-green;
            background-color: transparent;
            border: none;
            cursor: pointer;
            &:focus {
                outline: none;
            }
        }
    }
    .rdtMonths, .rdtYears {
        margin-bottom: -8px;
    }
}

.rtdMonth {
    width: 30px;
    height: 30px;
    color: #1dba7a;
}
