.datepicker {
  position: absolute; }
  .datepicker__button {
    position: relative;
    cursor: pointer; }
    .datepicker__button__icon {
      float: left;
      width: 24px;
      height: 24px;
      fill: #00a094; }
      .datepicker__button__icon:hover {
        fill: #00d3c3; }
    .datepicker__button__label {
      float: left;
      padding-top: 3px;
      padding-left: 4px; }
  .datepicker__paranja {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 3;
    opacity: 0.1; }
  .datepicker_open .rdt {
    z-index: 4;
    display: block;
    opacity: 1; }
  .datepicker_open .datepicker__triangle {
    z-index: 4;
    opacity: 1; }
  .datepicker__triangle {
    position: absolute;
    top: 27px;
    left: -7px;
    z-index: -1;
    width: 45px;
    height: 22px;
    overflow: hidden;
    box-shadow: 0 16px 10px -17px rgba(0, 0, 0, 0.5);
    opacity: 0; }
    .datepicker__triangle:after {
      content: "";
      position: absolute;
      top: 13px;
      left: 8px;
      width: 20px;
      height: 20px;
      background: #fafbfe;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg); }

.rdt {
  position: absolute;
  top: 49px;
  left: -25px;
  z-index: -1;
  display: none;
  box-sizing: border-box;
  width: 240px;
  padding: 20px 15px;
  background-color: #fafbfe;
  border-radius: 4px;
  box-shadow: #fafbfe;
  opacity: 0;
  transition: .2s; }
  .rdt table {
    width: 100%;
    border-collapse: collapse; }
  .rdt .dow, .rdt .rdtDay {
    box-sizing: content-box;
    width: 22px;
    padding: 0 4px;
    font-weight: 100;
    font-size: 10px;
    line-height: 22px;
    text-align: center;
    text-transform: uppercase; }
  .rdtDisabled {
    color: #5d616f !important;
    cursor: default !important; }
  .rdt .rdtDay.rdtToday {
    color: #00a094; }
    .rdt .rdtDay.rdtToday.rdtActive {
      color: #ffffff; }
  .rdt .dow {
    padding-bottom: 14px;
    font-weight: 300;
    line-height: 14px;
    color: #5d616f;
    cursor: default; }
  .rdt .rdtSwitch, .rdt .rdtPrev, .rdt .rdtNext {
    padding-bottom: 20px !important;
    color: #5d616f;
    cursor: pointer; }
  .rdt .rdtDay.rdtOld, .rdt .rdtDay.rdtNew {
    font-weight: normal;
    color: #5d616f; }
  .rdt .rdtDay, .rdt .rdtMonth, .rdt .rdtYear {
    color: #5d616f;
    cursor: pointer; }
  .rdt .rdtActive {
    position: relative;
    font-weight: 400;
    color: #ffffff;
    border-radius: 4px; }
  .rdt .rdtDay {
    font-weight: 600; }
    .rdt .rdtDay.rdtActive::after {
      content: "";
      position: absolute;
      left: 4px;
      z-index: -1;
      width: 22px;
      height: 22px;
      background-color: #00a094;
      border-radius: 50%; }
  .rdt .rdtMonth {
    width: calc(210px / 4);
    padding: 0 0 8px;
    font-size: 10px;
    line-height: 20px;
    letter-spacing: 0.3px;
    text-align: center; }
    .rdt .rdtMonth.rdtActive::after {
      content: '';
      z-index: -1;
      display: block;
      height: 20px;
      margin: -20px 0 0;
      background-color: #00a094;
      border-radius: 4px; }
  .rdt .rdtYear {
    padding: 0 0 8px;
    font-size: 10px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.3px; }
    .rdt .rdtYear.rdtActive::after {
      content: '';
      z-index: -1;
      display: block;
      height: 20px;
      margin: -20px 7px 0;
      background-color: #00a094;
      border-radius: 4px; }
  .rdt .rdtSwitch {
    font-weight: bold;
    font-size: 13px;
    letter-spacing: 0.4px;
    text-align: center;
    color: #5d616f;
    text-transform: capitalize; }
  .rdt .rdtNext button, .rdt .rdtPrev button {
    font-size: 28px;
    line-height: 12px;
    color: #00a094;
    background-color: transparent;
    border: none;
    cursor: pointer; }
    .rdt .rdtNext button:focus, .rdt .rdtPrev button:focus {
      outline: none; }
  .rdt .rdtMonths, .rdt .rdtYears {
    margin-bottom: -8px; }

.rtdMonth {
  width: 30px;
  height: 30px;
  color: #1dba7a; }
