// colors
$color-blue: #5caedc;
$color-dark-blue: #468ee5;
$color-green: #00a094;
$color-red: #eb5757;
$color-orange: #ffa727;
$color-white: #ffffff;
$color-silver: #eef4fc;
$color-gray: #5d616f;

$color-green--light: #b7e2e3;
$color-gray--light: #828282;
$color-gray--lighten: #e0e0e0;
$color-blue--darken: darken($color-blue, 10%);
$color-green--darken: darken($color-green, 10%);

// special colors
$color-font: #343434;
$color-background: #fafbfe;
$color-border: #e8e8e8;

$box-shadow-button: 0 4px 4px rgba(0, 0, 0, .25);
